doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    block content

    script(src='/components/paper/dist/paper-full.js', type='text/javascript')