body {
  height: 100%;
  width: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

textarea {
  resize: none;
  width: 100%;
  overflow-x: hidden;
  border: none;
  height: 100%;
}
